html {
  min-height: 100% !important;
  height: 100% !important;
  overflow:hidden;
}

body {
  min-height: 100%;
  height: 100%;
  background-color: #000000;
  overflow:hidden;
}

canvas { display:block; }

.viewer{
  min-height: 100%;
  height: 100%;
  background-color: #000000;
  min-width: 100%; 
  width: 100%;
  overflow:hidden;
}

.main {
	min-height: 100%;
	width: 100%;
	margin:0px;
	background: url(../Metol_Warrior_Black.svg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
